@import url('layout.css');


/* Media query for mobile screens */
@media screen and (max-width: 767px) {
  /* Hide the images on mobile screens */
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 5px;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 0.8;
  }

  .left, .right {
    display: none !important;
  }
   
  .first-word {
    margin-left: 110px; /* Adjust spacing between words */
  }

  .second-word {
      margin-left: 45px; /* Adjust spacing between words */
  }
  .left, .right {
    width: 0%;
  }
  
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the div horizontally */
    width: 100%; /* Adjust width as needed */
  }
  .center form label{
   margin-top: 0%;
  }
  * {
    display: block;
  }
  .center form .button {
    margin-left: 0%;
  }
 
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw; /* Set form width to match viewport width */
  }

  /* Adjust margin for input fields and labels */
  .input_field {
    margin-bottom: 2px; /* Reduce vertical space between items */
  }


  
  
}

.left{
    width: 33.33%;
    float: left;
    height: 900px;
    background-image: url('../images/FR_left_image.jpeg');
    background-size: cover;
    display: block;
}

.right{
    width: 33.33%;
    float: right;
    height: 900px;
    background-image: url('../images/FR_right_image.jpeg');
    background-size: cover;
    display: block;
}

.center{
    background-color:transparent;
    width: 33.33%;
    display: inline-block;
    height: 900px;

}

.center h2{
color: blue; 
text-align: center;
font-weight: boldpx;
}

.center label{
   display: inline-block;
   width: 150px; 
   margin-top: 5%;
   margin-left: 10%;
   font-weight: bold;
}


.center .input_field{
        background-color: lightgray;
        border-radius: 5px;
        padding: 5px;

      }
.center .button{
    margin-top: 5%;
    margin-left: 40%;
    text-align: center;

}



.button{
  appearance: none;
  background-color: rgb(46, 134, 228);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button:hover {
  background-color: #bd1a1a;
}

.button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}